.todo__list {
    
    &__item:first-child {
        border-top: 1px solid #eee;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        position: relative;
        height: 50px;
        padding: 0 20px;
        
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;

        &:hover {
            background: rgb(250, 249, 249);
        }

        &_label {
            margin: 0 5px;
        }

        &_remove {
            margin: 0 5px;
            cursor: pointer;
        }
    }
    
}